<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Fractured Space">
 <author>bene-dictator</author>
 <version>0.1</version>
 <compatibility>^0\.11\..*</compatibility>
 <priority>1</priority>
 <total_conversion/>
 <description>Fractured Space</description>
 <source>https://github.com/bene-dictator/fractured-space.git</source>
</plugin>
